<div class='container'>
  <%= link_to "New Application", new_registered_app_path %>
  <% @registered_apps.each do |app| %>
    <div class='container'>
      <div class='row'>
        <%= link_to  app.name, app %>
      </div>
    </div>
  <% end %>
</div>
