/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_bootstrap-sprockets
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  background-color: rbga(30, 30, 30);
}
.box {
  height: 30px;
  width: 100%;
}

.welcome-carousel {
  background-color: rgba(50, 50, 50, .1);
  margin: 0 auto;
  width: 80%;
  height: 400px;
  align-items: center;
}

.center {
  margin: auto auto;
  text-align: center;
  top: 25%;
}

.carousel-indicators li {
  border-radius: 0;
  width: 2.4em;
  height: .5em;
  border-color: gray;
  background: gray;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.carousel-indicators li.active {
  border-radius: 50%;
  size: 110%;
  background: navy;
}

.container-full {
  height: 100%;
}

.carousel-control-left {
  top: 0;
  bottom: 0;
  width: 15%;
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 5%;
  margin-bottom: 0;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.carousel-control-right {
  top: 0;
  bottom: 0;
  right: 0;
  width: 15%;
  align-items: center;
  position: absolute;
  display: flex;
  margin-bottom: 0;
  text-align: center;
  padding: 0 5%;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.carousel-control-left:hover {
  background-color: rgba(100, 100, 100, .5);
}

.carousel-control-right:hover {
  background-color: rgba(100, 100, 100, .5);
}

.glyphicon.glyphicon-stats {
  font-size: 10em;
}

.item {
  max-height: 80%;
}

.description {
  margin: auto;
  display: flex;
  max-width: 50%;
}

.devise-forms {
  margin: 0 auto;
  width: 30%;
}

.devise-forms form, h2, a, div, em {
  margin-bottom: 1em;
  width: 100%;
}

em {
  opacity: .3;
}

input + label{
  padding: 0 3px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  opacity: .3;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

input:focus + label {
  border: 0;
  opacity: 1;
  box-shadow: 3px 3px 0 rgba(30, 0, 0, .8);
}

input {
  margin-bottom: 1em;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

input:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(30, 30, 30, .8);
}

.devise-forms div input:not(#user_remember_me) {
  width: 100%;
}

.navbar-brand {
  width: 10%;
}

.devise-links a {
  color: gray;
  border-right: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 1px solid gray;
  padding: 2px;
  margin-bottom: 1em;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.devise-links a:hover {
  border-right: 2px solid gray;
  border-left: 2px solid gray;
  border-bottom: 1px solid white;
  text-decoration: none;
}

.app-link-group {
  margin-bottom: .5em;
}

.list-group-item:first-of-type {
  margin-top: 1em;  
}

.app-link {
  padding: 2px;
  margin-left: 15px;
  color: rgba(1, 1, 1, .8);
  border-bottom: 1px solid rgba(1, 1, 1, .8);
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.app-link + .glyphicon.glyphicon-arrow-right {
  opacity: 0;
  margin-top: 6px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.app-link:hover + .glyphicon.glyphicon-arrow-right {
  opacity: 1;
  color: gray;
  margin-left: 10px;
}

.app-link:hover {
  text-decoration: none;
  border-bottom: 0;
  color: rgba(1, 1, 1, .6);
}
